body {
    color: #333333;
    font-family: Sans-Serif;
    background-color: #f9f9f9;
}
h1,h2,h3,h4,h5 {
    font-family: Sans-Serif;
    text-align: center;
}
a,a:visited {
    color: #3376ea;
}
a:hover, a:focus, a:active {
    color: #3376ea;
}
#header h1#site-title {
    padding-bottom: 20px;
    text-align: center;
}
#header h1#site-title a {
    color:#375199;
}
h3.widget-title,
#header h3.site-desc {
    color:#BE3243;
    text-align: center;
}

/* Kartendarstellung */
#erklaerung {
    width: 800px;
}
#map {
    width: 800px;
    height: 500px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
#slider {
    width: 800px;
}
